body{
    margin: 0;
    padding: 0;
     font-family: Arial, Helvetica, sans-serif;
}

.contain2{
    background-color: #f4e8e0;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}
nav{
    width: 100%;
    display: flex;
}
.leftnav2{
    width: 30%;
    display: flex;
    justify-content: space-between;
        font-size: 20px;
        padding-left: 30px;
        
}
.rightnav2{
    width: 70%;
    display: flex;
    justify-content: flex-end;
        font-size: 20px;
    padding-right: 60px;
}
.partnerUnder{
    text-decoration: underline;
     text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.zonecenter2{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.zonecenter2text{
    display: flex;
    align-items: center;
padding-left: 25%;
    width: 100%;
    height: 70vh;
       z-index: 1;
         pointer-events: none;
         position: relative;
}
.zonecenter2text p{
      font-family: "Merriweather";
margin: 20px;
font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
   pointer-events: none;
}

.zonecenter2text h1{
    font-size: 90px;
     font-family: "Merriweather";
       pointer-events: none;
       font-weight: normal;

}

.paralaxZone{
    display: flex;
    justify-content: center;
    position: absolute;
   z-index: 0;
    
}
.paralaxZone img{
 width: 720px;
 height: 530px;

}
.paralaxZone img:hover{
    animation: changeImageparallax linear 1s;
}
.zonecenter3text{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 55%;
    position: absolute;
    left: -7%;
    top:40%;
 
}
.zonecenter3text h1{
    font-size: 90px;
       font-size: 90px;
     font-family: "Merriweather";
     font-weight: normal;
       margin: 0;
}


.containSwitch{
    height: 100px;
    overflow: hidden;
}
.a24 {
  display: inline-block;
  transition: transform 0.5s ease;
}

.a24::after {
  content: "(A24)";
  display: block;
}

.a24:hover {
  transform: translateY(-110px); 
}

.amazon {
  display: inline-block;
  transition: transform 0.5s ease; 
}

.amazon::after {
  content: "(Amazon)";
  display: block;
}

.amazon:hover {
  transform: translateY(-110px); 
}

.disney {
  display: inline-block;
  transition: transform 0.5s ease; 
}

.disney::after {
  content: "(Disney)";
  display: block;
}

.disney:hover {
  transform: translateY(-110px); 
}

.fx {
  display: inline-block;
  transition: transform 0.5s ease; 
}

.fx::after {
  content: "(Fx)";
  display: block;
}

.fx:hover {
  transform: translateY(-110px);
}




@keyframes slide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-110px);
  }
}

@media (max-width: 480px) {
.leftnav2{
    font-size: 11px;
}
.rightnav2{
    font-size: 11px;
}
.zonecenter3text h1{
    font-size: 30px;
}
.zonecenter2text h1{
    font-size: 30px;
}
.containSwitch{
    height: 34px;
}
.zonecenter3text{
    left: 10%;
}
.paralaxZone img{
    width: 300px;
    height: 200px;
}
}
